@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');



body,
* {
    font-family: "Manrope", sans-serif;
}


/* this is the css code for */
.header {
    padding: 1.8em;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: none;
}

.logo {
    width: 6em;
}

.signup {
    display: none;
}

.hamburger {
    background-color: transparent;
    border: none;
}

/* this is the css code of main body */
.herocontainer {
    display: flex;
    flex-direction: column;
    padding: 1.8em;

}

.textbox {
    font-family: "Manrope", sans-serif;
}

.textbox>h1 {
    font-size: 1.3em;
    font-weight: bold;
}

.textbox>p {
    margin-top: 10px;
    color: #2B2B2B;
}

.textbox>form {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid gray;
}

.textbox>form>input {
    border: none;

}

.textbox>form>button {
    padding: 0.5em;
    background-color: #2B2B2B;
    color: white;
    font-family: "Manrope", sans-serif;
    border-radius: 5px;
}

.imagebox {
    margin-top: 20px;
}

.imagebox img {
    width: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.textdivider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    margin: 20px 0;
}

.textdivider>h1 {
    font-size: 1.25em;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    margin-bottom: 1em;
}


.textdivider>section {
    /* margin-top: 20px; */
    background-color: #E3E3E3;
    padding: 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    height: 80%;
}

.textdivider>section>h3 {
    margin: 20px 0;
    width: 60%;
    text-align: center;
}

.verticalline {
    background-color: #979797;
    width: 50px;
    height: 2px;
}

.verticalline:first-child {
    opacity: 0;
}

.productcontainer {
    padding: 1.25em;
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: column;
}

.productcontainer .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.products {
    margin-top: 1em;
}

.productflexcontainer:nth-child(odd) {
    background-color: #b7dabd;
}

.productflexcontainer:nth-child(even) {
    background-color: #eca5ff;

}

.productflexcontainer {
    padding: 1em;
    margin-bottom: 1em;
}

.productflexcontainer img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.productflexcontainer .productdesc {
    padding: 1em 0;
}

.productflexcontainer .productdesc h1 {
    font-size: 1em;
    font-weight: bold;
}

.productflexcontainer .productdesc p {
    font-size: 0.8em;
    line-height: normal;
    margin-top: 5px;
}







/* Here is the footer section */

footer {
    /* padding: 1em; */
    color: white;

    background-color: #2B2B2B;
    margin: auto;

}

.footercontainer {
    padding: 1.8em;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.footercontainer>section:nth-child(1)>img {
    width: em;
}

.footer_quote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer_quote>section {
    display: flex;
    flex-direction: column;
}

.footer_quote>section>h1 {
    font-size: 18px;
    line-height: normal;
    margin-top: 10px;
    width: 80%;
}

.footer_quote>section>h2 {
    font-weight: light;
    font-size: 12px;
    margin-bottom: 10px;

}

.bottom_text {
    display: flex;
    flex-direction: column;

}



.policies {
    display: flex;
    margin: 8px 0px;
    font-size: 12px;
    opacity: .5;
}

.policies>h2 {
    margin-right: 30px;
}

.copyright {
    font-size: 12px;
    margin-top: 5px;
    opacity: .5;
}


.policies>h2:nth-child(2) {
    margin-left: 12px;
}

/* media query for desktop responsive */

@media only screen and (min-width: 560px) {

    .header {
        align-items: center;
        padding: 2em 5em;
    }

    .navigation {
        display: block;
        margin-left: auto;
    }

    .navigation>ul {
        display: flex;
        align-items: center;
    }

    .navigation>ul>li {
        margin-right: 1em;
        font-family: "Manrope", sans-serif;
    }

    .hamburger {
        display: none;
    }

    .signup {
        display: block;
        padding: 1em;
        background-color: #2B2B2B;
        color: white;
        border: none;
    }

    .herocontainer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .herocontainer .textbox {
        width: 40%;
        padding: 1em;
        /* background-color: #b7dabd; */
    }

    .herocontainer .imagebox img {
        width: 400px;
    }

    .textbox h1 {
        font-size: 2em;
    }

    .textbox p {
        margin: 2em 0;
        font-size: 1em;
    }

    .textdivider {
        padding: 1.25em;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .textdivider section {
        /* margin-left: 40px; */
        width: min(900px, 60vw);
        flex-direction: row;
        padding: unset;
    }

    .verticalline {
        transform: rotate(90deg);
    }

    .verticalline:last-child {
        opacity: 0;
    }

    .products {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* flex-shrink: noshrink; */
    }

    .heading {
        font-size: 1.25em;
        margin-left: 3.3em;
    }

    .productflexcontainer {
        flex-basis: 25%;
        margin: unset;
        margin-bottom: 4em;
        /* width: max-content; */
    }

    .footercontainer {
        padding: 2em 6em;
    }
}